@model iParking.Models.Parking

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h2>Detalii</h2>

    <div>
        <h4>Parking</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ParkingName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParkingName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParkingNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParkingNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ParkingSlots)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ParkingSlots)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PricePerHour)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PricePerHour)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Redactare</a> |
        <a asp-action="Index">Înapoi</a>
    </div>
</div>